* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    height: 100vh;
    width: 100vw;

}


#logo {

    height: 80px;
    width: 500px;

}

#inicio {
display: flex;
flex-direction: row;
justify-content: space-between;

}

#perfil {

width: 50px;
height: 50px;
margin: 10px;
border: 1px solid #003DA5;
border-radius: 50px;

}

#voltar {
display: flex;
align-items: center;


}

#voltarimg  {

width: 50px;
height: 50px;
margin-left: 20px;
margin-top: 5px;
margin-right: 10px

}

main {

    display: flex;
    justify-content: center;

}


section#adicionar {

    width: 70vw;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

form {
    display: flex;
    flex-direction: column;

}

#inputs {
    display: flex;
    flex-direction:row;

}

section#adicionar h2 {

    text-align: center;
    color: #003DA5;
    font-size: 1.5em;

}

fieldset {

    border-radius: 10px;
    border: 1px solid #003DA5;
    color: #003DA5;
    width: 400px;
    margin: 20px 0px 20px 0px;
    padding: 10px;

}

legend {
    padding: 0px 5px 0px 5px;

}

#adicionar input {

    border: none;
    font-size: 20px;
    width: 100%;
    height: 30px;

}

#adicionar input:focus-visible {

    border: none;
    outline: none;

}

select {

    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #003DA5;
    color: #003DA5;
    width: 400px;
    margin: 30px 0px 0px 0px;
    padding: 18px;


}

select:focus-visible {
    border-radius: 10px 10px 0px 0px;

}

option {

    text-align: center;
    color: black;

}

#esquerda {

    margin-right: 20px;

}

#data {

    color: gray;

}

#botao{

    margin-top: 15px;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    background-color: #003DA5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#botao:hover {

    background-color: #FBE304;
    color: black;
    border: 1px solid black;
}

#baixo {

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

#baixo #requisitos {

margin-top: 5px;
margin-bottom: 5px;
width: 100%;

}