* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    height: 100%;
    width: 100vw;

}

#logo {

    height: 80px;
    width: 500px;

}

main {

    display: flex;
    margin-top: 20px;


}

section#naoconcluidas {

    width: 100%;
    background-color: #ffcc00;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

header img {
    height: 50px;
}


main {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    flex-direction: column;
    margin-top: 50px;


}

h1 {

    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}


h2 {
    color: #003399;
    text-align: center;
    margin-bottom: 40px;
}

section {

    display: flex;


}

.linkcard {

    text-decoration: none;
    color: inherit;

}

.opcoes {

    background-color: #fff;
    border-radius: 16px;
    width: 350px;
    height: 400px;
    text-align: left;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 0px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}


.opcoes img {

    width: 100%;
    height: 40%;
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: #f3f3f3;
    padding: 15px;
    object-fit: contain;

    display: flex;
    align-items: center;
    justify-content: center;

}

.conteudo {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.opcoes:hover {

    transform: translateY(-5px);
    background-color: #ffec80;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}

.opcoes h3 {

    color: #003399;
    margin-bottom: 15px;

}

.opcoes p {

    font-size: 0.95rem;
    margin-bottom: 20px;
    text-align: justify;


}


.botao {

    text-decoration: none;
    color: white;
    background-color: #003399;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;

}

.botao:hover {
    background-color: #ffcc00;
    color: #003399;
    border: 1px solid #003399;
}