* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    height: 100vh;
    width: 100vw;

}



#logo {

    height: 70px;
    width: 70px;

}

main {

    display: flex;


}

section#naoconcluidas {

    width: 40vw;
    margin: 30px;
    margin-bottom: 0px;


}

section#naoconcluidas h2 {

    text-align: center;
    color: #003DA5;
    font-size: 1.5em;

}

.vaga {

    border: 1px solid #003DA5;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.492);
    border-radius: 40px;
    width: 580px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 20px;

}

#vagaimg {

    height: 100%;


}

.vaga img {

    width: 70px;
    height: 70px;

}

.vagas_info {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#informacoes {
    display: block;
    text-align: center;
    margin-top: 10px;

}

#informacoes h3, h4 {

    margin-bottom: 7px;

}

#numerocan {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}

#numerocan p {

    margin: 5px;

}

#numerocan a {

    text-decoration: none;
    color: white;
    background-color: #003DA5;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 125px;
    text-align: center;

}

#numerocan #num {

    color: #003DA5;
    border: 1px solid #003DA5;
    border-radius: 20px;
    padding: 5px;
    width: 50px;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;

}

.icones {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-right: 10px;

}

.icones img {

    width: 30px;
    height: 30px;
    margin: 7px;


}







section#adicionar {

    width: 70vw;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;



}

form {
    display: flex;
    flex-direction: column;

}

#inputs {
    display: flex;
    flex-direction:row;

}

section#adicionar h2 {

    text-align: center;
    color: #003DA5;
    font-size: 1.5em;

}

fieldset {

    border-radius: 10px;
    border: 1px solid #003DA5;
    color: #003DA5;
    width: 400px;
    margin: 20px 0px 20px 0px;
    padding: 10px;

}

legend {
    padding: 0px 5px 0px 5px;

}

#adicionar input {

    border: none;
    font-size: 20px;
    width: 100%;
    height: 30px;

}

#adicionar input:focus-visible {

    border: none;
    outline: none;

}

select {

    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #003DA5;
    color: #003DA5;
    width: 400px;
    margin: 30px 0px 0px 0px;
    padding: 18px;


}

select:focus-visible {
    border-radius: 10px 10px 0px 0px;

}

option {

    text-align: center;
    color: black;

}

#esquerda {

    margin-right: 20px;

}

#data {

    color: gray;

}

#botao{

    margin-top: 15px;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    background-color: #003DA5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#botao:hover {

    background-color: #FBE304;
    color: black;
    border: 1px solid black;
}

#baixo {

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

#baixo #requisitos {

margin-top: 5px;
margin-bottom: 5px;
width: 100%;

}