* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    height: 100%;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

header {

    background-color: #ffcc00;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}


header img {
    height: 50px;
}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 30px;
}

main h1 {

    text-align: center;
    color: #003DA5;
    font-size: 1.8em;

    display: flex;
    align-items: start;
    justify-content: start;

    margin: 20px;

}

main h2 {

    margin-bottom: 10px;
    font-size: 1.2em;
}

#esquerdamain {

    text-align: center;
    width: 70vw;

}

#esquerdamain h2 {

    margin-bottom: 20px;
    color: #003DA5;

}

#detalhes {

    display: flex;


}

#esquerda {

    display: flex;
    flex-direction: column;
    margin-left: 25px;


}

#direita {

    display: flex;
    flex-direction: column;
    margin-left: 25px;




}

.dados {

    border: 1px solid #003DA5;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: start;

}

#requisitos {

    width: 350px;
    height: 250px;
    margin-left: 40px;

}

#requisitos p {

    margin-top: 10px;


}

#direitamain {

    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

#direitamain p {

    padding: 30px 90px 30px 90px;
    background-color: #FFCC00;
    color: #003DA5;
    font-size: 50px;
    font-weight: bold;
    border-radius: 20px;
    margin: 40px 0px 40px 0px;



}

#direitamain a {

    margin-top: 15px;
    padding: 20px;
    font-size: 20px;
    width: 50%;
    background-color: #003DA5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#direitamain a:hover {

    background-color: #FBE304;
    color: black;
    border: 1px solid black;
}