* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    height: 100%;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

header {

    background-color: #ffcc00;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}


header img {
    height: 50px;
}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 30px;
}



main h1 {
    color: #003DA5;
    font-size: 1.8em;
    width: 80vw; 
    margin-bottom: 5px;
    text-align: left; 
}

#voltar {
display: flex;
align-items: center;
margin-right: auto;

}

#voltarimg  {

width: 50px;
height: 50px;
margin-left: 20px;
margin-top: 5px;
margin-right: 10px

}


#subtitulo {
    display: flex; 
    align-items: center; 
    justify-content: start;
    width: 80vw; 
    margin-bottom: 40px;
}

main h2 {

    font-size: 1.2em;
    margin-right: 5px;
    color: black;

}

main h3 {

    font-size: 0.9em;
}

#mais {

    width: 80vw;
    color: #003DA5;
    margin-top: 10px;

    display: flex;
    justify-content: flex-end;
}

#status {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px; 
    border-radius: 5px;
}

table {

    width: 80vw;
    border-collapse: collapse;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.afinidade {

text-align: center;

}

.pos {

    width: 15px;

}

.icones {

    text-align: center;

}

.icones img {

    width: 30px;
    height: 30px;
    margin-right: 5px;


}

th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

.status {

    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-align: center;
}

.contratado {
    background-color: #1E8449;
}

.pendente {
    background-color: #F5B041;
}

.rejeitado {
    background-color: #C0392B;
}
