* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {

    width: 100%;
    background-color: #ffcc00;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

header img {
    height: 50px;
}


main {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    flex-direction: column;
    margin-top: 50px;


}

h1 {

    margin-top: 40px;
    font-size: 2em;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    color: #003399;
    text-align: center;
    margin-bottom: 40px;
}

section {

    display: flex;


}


.opcoes {

    margin: 30px;
    width: 350px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);

}

.opcoes:hover {

    transform: translateY(-5px);
    background-color: #ffec80;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

}

.opcoes h3 {

    color: #003399;
    margin-bottom: 15px;

}

.opcoes p {

    font-size: 0.95rem;
    margin-bottom: 20px;
    text-align: justify;


}

.imagem {

width: 100%;
height: 100px;
background-color: #ffec80;

}

.imagem img  {
width: 30px;

}

.conteudo {

    border: 1px solid rgba(0, 0, 0, 0.379);

}





.botao {

    text-decoration: none;
    color: white;
    background-color: #003399;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;

}

.botao:hover {
    background-color: #ffcc00;
    color: #003399;
    border: 1px solid #003399;
}