* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {

    height: 100%;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

header {

    background-color: #ffcc00;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}


header img {
    height: 50px;
}

#voltar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

#voltarimg {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 10px 
}

main {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 30px;
}


main h1 {

    text-align: center;
    color: #003DA5;
    font-size: 1.8em;

    display: flex;
    align-items: start;
    justify-content: start;

    margin: 20px;

}

table {
    width: 65vw;
    height: 60vh;
    border-collapse: collapse;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td h2 {

    font-size: 1.1em;
    font-weight: bold;

}

td h3 {

    font-weight: 300;
    font-size: 0.9em;

}


th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    text-align: center;
}

.status-aberta {
    background-color: #4CAF50;
}


.status-encerrada {
    background-color: #F44336;
}


.acoes a {

    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 5px;
    color: #1e88e5;
    text-decoration: none;

}

.acoes .btn-ver-candidatos {

    font-size: 0.85em;
    padding: 5px 8px;
    border: 1px solid #1e88e5;
    border-radius: 4px;
    color: #1e88e5;
    font-weight: 600;
    margin-left: 5px;
    transition: background-color 0.3s;

}

.btn-ver-candidatos:hover {

    background-color: #e3f2fd;

}

#lixeira {

    height: 19px;

}